## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
atv_counts = application_df['APPLICATION_TYPE'].value_counts()
atv_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = list(atv_counts.iloc[8:].index)
cutoff_value = 528

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_clean = classification_counts.loc[classification_counts > 1]
classification_clean

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_dummies = pd.get_dummies(application_df)

In [ ]:
# Split our preprocessed data into our features and target arrays
X = numeric_dummies.drop(['IS_SUCCESSFUL'], axis=1)
y = numeric_dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
noi_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=noi_features, activation="tanh"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 10)                440

 dense_10 (Dense)            (None, 5)                 55

 dense_11 (Dense)            (None, 1)                 6

=================================================================
Total params: 501
Trainable params: 501
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
train_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.9812 - accuracy: 0.6618
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.8787 - accuracy: 0.7123
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.8448 - accuracy: 0.7212
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7126 - accuracy: 0.7232
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5895 - accuracy: 0.7231
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5810 - accuracy: 0.7238
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5770 - accuracy: 0.7249
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5766 - accuracy: 0.7263
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5743 - accuracy: 0.7259
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5788 - accuracy: 0.7224
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5702 - accuracy: 0.7255
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5675 - accuracy: 0.7246
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5652 - accuracy: 0.7264
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5667 - accuracy: 0.7276
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5641 - accuracy: 0.7266
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5626 - accuracy: 0.7276
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5600 - accuracy: 0.7278
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5611 - accuracy: 0.7301
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5601 - accuracy: 0.7287
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5610 - accuracy: 0.7294
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5609 - accuracy: 0.7301
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5612 - accuracy: 0.7295
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5600 - accuracy: 0.7311
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5592 - accuracy: 0.7311
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5585 - accuracy: 0.7305
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5592 - accuracy: 0.7297
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5595 - accuracy: 0.7306
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5578 - accuracy: 0.7331
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5570 - accuracy: 0.7311
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5577 - accuracy: 0.7317
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5571 - accuracy: 0.7315
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5575 - accuracy: 0.7317
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5574 - accuracy: 0.7322
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5572 - accuracy: 0.7328
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5580 - accuracy: 0.7326
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5567 - accuracy: 0.7337
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5580 - accuracy: 0.7324
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5580 - accuracy: 0.7330
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5570 - accuracy: 0.7315
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7325
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5611 - accuracy: 0.7320
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5572 - accuracy: 0.7327
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5565 - accuracy: 0.7327
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5559 - accuracy: 0.7331
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5562 - accuracy: 0.7327
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5563 - accuracy: 0.7328
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5565 - accuracy: 0.7323
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5576 - accuracy: 0.7330
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5609 - accuracy: 0.7321
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7338
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5561 - accuracy: 0.7331
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5589 - accuracy: 0.7318
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5559 - accuracy: 0.7334
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5549 - accuracy: 0.7333
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5562 - accuracy: 0.7326
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5550 - accuracy: 0.7331
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5558 - accuracy: 0.7323
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5557 - accuracy: 0.7333
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5557 - accuracy: 0.7335
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5553 - accuracy: 0.7341
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5547 - accuracy: 0.7325
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5546 - accuracy: 0.7342
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5574 - accuracy: 0.7335
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7337
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7339
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7343
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7343
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5599 - accuracy: 0.7316
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5571 - accuracy: 0.7300
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5546 - accuracy: 0.7343
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5548 - accuracy: 0.7328
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7339
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5504 - accuracy: 0.7341
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7331
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5513 - accuracy: 0.7340
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5518 - accuracy: 0.7327
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7334
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7332
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7340
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5513 - accuracy: 0.7342
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7338
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7349
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7327
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7341
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7337
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5515 - accuracy: 0.7342
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7351
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7342
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7343
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7332
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5504 - accuracy: 0.7326
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7327
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5508 - accuracy: 0.7345
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5502 - accuracy: 0.7332
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7335
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5504 - accuracy: 0.7329
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5518 - accuracy: 0.7330
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7345
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7341
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7346

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5554 - accuracy: 0.7305 - 493ms/epoch - 2ms/step
Loss: 0.5553723573684692, Accuracy: 0.7304956316947937

In [83]:
# Export our model to HDF5 file
filepath = "/Users/atoth/Downloads/AlphabetSoupCharity_Optimization.h5"
nn.save(filepath, save_format='h5')